<!DOCTYPE HTML>
<html>

<head>
    <title>Add images</title>
    <style type="text/css">
        .right {
            float: right;
        }
        .left {
            float: left;
        }
        .description{
            width: 250px;
            height: 90px;
            margin-top: 10px;
        }
        .button {
            background-color: green;
            border: none;
            color: white;
            width: 120px;
            height: 30px;
            float: right;
            border-radius: 5px;
            font-weight: bold;
            margin-top: 10px;
        }

        .table {
            border: 1px solid grey;
            width: 250px;
            height: 100px;
        }

        .tableTags {
            border: 0.5px solid grey;
            width: 250px;
            height: 50px;
        }

        .inputText {

            outline: none;
            /* Убираем свечение в Chrome и Safari */
            -webkit-appearance: none;
            /* Убираем рамку в Chrome и Safari */
            width: 150px;
            /* Ширина поля */
            vertical-align: left;
            /* Выравнивание по середине */
        }

        .inputSubmit {
            width: 100px;
            /* Ширина кнопки */
            height: 20px;
            /* Высота кнопки */
            border: none;
            /* Убираем рамку */
            background-color: gray;
            /* Параметры фона */
            
        }
    </style>
</head>


<body>
    <div>
        <div class="left">
            <h3>ADD IMAGE</h3>
            <div class="tableTags">
            </div>
        </div>
        <div class="right">
            <h3>ADD INFO</h3>
            <text>Name your media</text>
            <br><input type="text" style="margin-top: 10px; width: 250px;">
            <br>
            <text>Add tags</text>
            <div class="tableTags" style="margin-top: 10px;">
                <hr>
                <div style="margin-top: 19px;" >
                    <input type="text" placeholder="Write a tag..." style="width:150px">
                    <input type="submit" value="Add tag" style="margin-top: 10px; margin-left: 25px;">
                </div>
            </div>
            <br>
            <text>Add description</text>
            <br>
            <input type="text" class="description">
            <br>
            <input type="submit" value="Publish" class="button">
        </div>
    </div>
</body>

</html>